<a href="https://colab.research.google.com/github/raviteja1432/Python-Assignments/blob/master/CAIDL%20ASSINGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.QUESTION

In [ ]:
#1.predicate the output for the following code snippets
print(0.1+0.2)
print("1.8"+"2")
print(87>78)
print((0.1+0.2)==0.3)
print("Predict" "Output" ,".....")

0.30000000000000004
1.82
True
False
PredictOutput .....

2.QUESTION

In [ ]:
#2.predicte the output for the following code snippets:
print("Prints","multiple","messages\n")
print("Concatenate "+" two strings\n")
print(5+6+" adds two numbers\n")

Prints multiple messages

Concatenate  two strings

TypeError: ignored

3.QUESTION

In [ ]:
#3.Correct the given code snippets (only one change is allowed)
print("ba"+"na"*2)
print(r"c:\naresh\raju\abhi")

banana
c:\naresh\raju\abhi

4.QUESTION:

In [ ]:
#4.Correct the given code snippets:
'Welcome to python traing program'[-4:-33:-4]

'g anytoW'

In [ ]:
print("Substring --    "+'A series of characters designated as one object know as a string'[2:18:5])

Substring --    sscc

5.QUESTION:

In [ ]:
#5.predicte the output for the given code and justify your result
print('A series of characters designated as one object know as a string'[::-1][4::3])

taao eonsdaidrca  is

Justification:
first it print the reverse of the string then it will prints the string from the index value of 4 to last index with a step size of 3

In [ ]:
print("-----------")

-----------

Justification:
every thing enclosed in the " " the interpreter will treats it as a string and it will as it is.

In [ ]:
print("Welcome to python traning program"[3:10][::-1])

ot emoc

Justification: it will starts with exiguction of first slice with an index value of 3 to end with value 10 and then it will reverse the getted string

6.QUESTION

In [ ]:
str1=True
x=5>3
print(str1==x)
y=5>8
print(str1==y)

True
False

Justification:
first str1 object refers to True,then the x is also equal to True if we use assingment operater between them it will prints True.
Then y is equal to False,if we assing str1 with y it prints the False because they are not equal

In [ ]:
num=7
Name="Michael Jackson"
sear_num=Name.find('el')
print(num>sear_num)

True

Justification:
first the num object has the value of 7
then the Name object has a string
sear_num has the number of 'el' in the string.Then compare the num and sear_num,then it will prints True because 7>1

7.QUESTION

In [ ]:
print('p_phrase="was it a car or a cat i saw"'.upper()[-2:9:-1])

WAS I TAC A RO RAC A TI SAW

8.QUESTION

In [ ]:
print("A='1934567'"[4:9:2])

946

9.QUESTION

In [ ]:
fake_phrase="Fake news has a knack for spreading like wild"
x=fake_phrase[16:40:].upper()[::-1]
x.split()

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

10.QUESTION

In [ ]:
msg1="Facebook already uses AI to Filter Fake stories from the feeds of users"
print(msg1.split())

['Facebook', 'already', 'uses', 'AI', 'to', 'Filter', 'Fake', 'stories', 'from', 'the', 'feeds', 'of', 'users']

 11.QUESTION

In [ ]:
msg2="Welcome to sr engineering college"
x=msg2.count('o')
y=msg2.count('r')
msg2[y**x:(x**y+x+y):][::-1]

' rs ot'

Justification :
in msg2 object it stores a string,and the in the x object there is a number of times of o and in y number of times of r from the msg2 object

 12.QUESTION

In [ ]:
num1,num2="94","30"
data="As per Census 2011, Gender ratio of India is 943 females per 1000 males"
num1+num2[0] in data

True

justification:num1 has 94 and num2 has 30.data has the string in it.third line is we have check the num1 value and num2 value in data object

In [ ]:
print(data[:45],print(int(num1)+int(num2)))

124
As per Census 2011, Gender ratio of India is  None

justification:
first it will prints the num1 + num2 and the it will prints the string of data object from index 0 to 44.

13.QUESTION

In [5]:
M=float(input("Enter the weight of the water in kilograms : "))
initialTemperature=float(input("Enter the intial temperature of water in degree celsius : "))
finalTemperature=float(input("Enter the final temperature of water in degree celsius : "))
Q=M*(finalTemperature - initialTemperature)*4184
print(f'Energy requried to heat the given water : {Q} joules')

Enter the weight of the water in kilograms : 20
Enter the intial temperature of water in degree celsius : 6
Enter the final temperature of water in degree celsius : 8
Energy requried to heat the given water : 167360.0 joules

14.QUESTION

In [7]:
x=int(input("Enter the x value : "))
y=x*2
print(f"the word is {'z'*x+'o'*y}")

Enter the x value : 2
the word is zzoooo

15.QUESTION

In [8]:
x=int(input("Enter x value : "))
y=int(input("Enter y value : "))
power=x**y
print(power)
divis=int(power/(x*y))
print(divis)
print(divis^(x+y))

Enter x value : 5
Enter y value : 6
15625
520
515