<a href="https://colab.research.google.com/github/raviteja1432/Python-Assignments/blob/master/CAIDL_ASSIENMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.question
year = int(input("Enter year of animal :"))
if year%12==0:
   print("Monkey")
elif year%12==1:
   print("Rooster")
elif year%12==2:
   print("Dog")
elif year%12==3:
   print("Pig")
elif year%12==4:
   print("Rat")
elif year%12==5:
   print("Ox")
elif year%12==6:
   print("Tiger")
elif year%12==7:
   print("Rabbit")
elif year%12==8:
   print("Dragon")
elif year%12==9:
   print("Snake")
elif year%12==10:
   print("Horse")
else :
   print("Sheep")

Enter year of animal :5
Ox

In [ ]:
#2.question
kilom=int(input(" Distance to be travel:"))
weight=int(input(" weight of the goods:"))
if kilom>=500:
   if weight>=100:
      print("Amount to be charged:  ",kilom*5,'/-')
   elif weight>=10 and weight<100:
      print("Amount to be charged: ",kilom*6,'/-')
   else :
      print("Amount to be charged:  ",kilom*7,'/-')
else :
   if weight>=100:
      print("Amount to be charged:  ",kilom*8,'/-')
   else :
      print("Amount to be charged:  ",kilom*5,'/-')

 Distance to be travel:520
 weight of the goods:50
Amount to be charged:  3120 /-

In [ ]:
#3.question
seat=input("Type of seat:")
payment=input("Payment mode:")
if seat=="Stalls":
    s=625
elif seat=="Circle":
    s=750
elif seat=="Upper Class":
    s=850
else:
    s=1000
if payment=="Cash":
       c=s-(s*10//100)
else:
       c=s-(s*5//100)
print("Cost of ticket:",c)

Type of seat:Circle
Payment mode:Cash
Cost of ticket: 675

In [ ]:
#4.question
M=float(input("Enter mass of water:"))
finaltemp=float(input("Enter final temperature of water:"))
initaltemp=float(input("Enter inital temperature of water:"))
Q=M*(finaltemp-initaltemp)*4184
print("Energy requried to heat water:",Q)

Enter mass of water:50.20
Enter final temperature of water:200
Enter inital temperature of water:150
Energy requried to heat water: 10501840.0

In [1]:
#5.question
month=input("Enter month name:").capitalize()
if month=="December" or month=="January" or month=="February":
   print("Winter")
elif month=="March" or month=="April" or month=="May":
   print("Spring")
elif month=="June" or month=="July" or month=="August":
   print("Summer")
elif month=="September" or month=="October" or month=="November":
   print("Autumn")
else :
   print("Invalid month")

Enter month name:september
Autumn

In [ ]:
 
#6.question
ht=float(input("Enter height in inches:"))
wt=float(input("Enter weight in pounds:"))
BMI=(wt*0.45359237)/(ht*ht*0.0254*0.0254)
if BMI>=30.0:
   print("Obese")
elif 18.5<=BMI<=25.0:
   print("Normal")
elif 25.0<=BMI<=30.0:
   print("Overweight")
else:
   print("Underweight")

Enter height in inches:50
Enter weight in pounds:80
Normal

In [ ]:
#7.question
num=input("Enter an integer between 100 and 1000:")
add=0
for i in num:
   add=add+int(i)
add

Enter an integer between 100 and 1000:745

16

In [ ]:
#8.question
for i in range(1,1000):
  add=0
  x=i
  while i>0:
    y=i%10
    i=int(i/10)
    add=add*10+y
  if x==add:
     print(x)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [ ]:
#9.question
for i in range(1,1000):
   add=0
   x=i
   count=len(str(i))
   while i>0:
     y=i%10
     add=add+y**count
     i=int(i/10)
   if x==add:
      print(x)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [ ]:
#10.question
for i in range(1,100):
    if i%3==0 and i%5==0:
       print("fizz buzz")
    elif i%3==0:
       print("Fizz")
    elif i%5==0:
       print("Buzz")
    else :
       print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [ ]:
#11.question
H=int(input("Enter the height of well:"))
U=int(input("Enter the meters climb up in each step:"))
D=int(input("Enter the meters slips down in each step:"))
N=((H-U)+(U-D))//(U-D)
print(N+1)

Enter the height of well:200
Enter the meters climb up in each step:50
Enter the meters slips down in each step:1
5