<a href="https://colab.research.google.com/github/raviteja1432/Python-Assignments/blob/master/CAIDL_ASSINGMENT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
#1.question
a=float(input("Enter first side:"))
b=float(input("Enter second side:"))
c=float(input("Enter third side:"))
s=(a+b+c)/2
area=(s*(s*a)*(s*b)*(s*c))**0.5
print(f"The area of the triangle is {area}")

Enter first side:2
Enter second side:4
Enter third side:8
The area of the triangle is 392.0

In [108]:
#2.question
string=input("Enter a string:")
if(string==string[::-1]):
    print("It is a palindrom")
else:
    print("It is not a palindrom")

Enter a string:madam
It is a palindrom

In [107]:
#3.question
year=int(input("Enter a year:"))
if (year%4)==0:
    print("The year {} is a leap year".format(year))
elif (year%100)==0:
    print("The year {} is not a leap year".format(year))
elif (year%400)==0:
    print("The year {} is a leap year".format(year))
else:
    print("The year {} is not a leap year".format(year))

Enter a year:2024
The year 2024 is a leap year

In [100]:
#4.question
txt="This program converts spaces into hyphen"
x=txt.replace(" ","-")
print(x)

This-program-converts-spaces-into-hyphen

In [ ]:
 
#5.question
colors=input("Enter colours:").split(',')
items=[x for x in colors]
items.sort()
print("sorted data is",','.join(items))

Enter colours:cyli,white,grey,apple
sorted data is apple,cyli,grey,white

In [ ]:
 
#6.question
salary=int(input("Enter the monthly salary:"))
if salary<=250000:
   print("Tax is nill")
elif salary>250000 or salary<=250000:
   tax=(salary*5/100)
   print("Tax is:",tax)
elif salary>500000 or salary<=750000:
   tax=(salary*10/100)
   print("Tax is:",tax)
elif salary>750000 or salary<=1000000:
   tax=(salary*15/100)
   print("Tax is:",tax)
elif salary>1000000 or salary<=1250000:
   tax=(salary*20/100)
   print("Tax is:",taxu)
elif salary>1250000 or salary<=1500000:
   tax=(salary*25/100)
   print("Tax is:",tax)
else :
   tax=(salary*30/100)
   print("Tax is:",tax)

Enter the monthly salary:5005000
Tax is: 250250.0

In [ ]:
#7.question
def comblistele(m):
    numblist=[]
    string=''
    for i in range(0,m):
      numb=int(input("Enter number to add in list:"))
      numblist.append(numb)
      string=string+str(numb)
    num=str(string)
    return num
m=int(input("Enter number of elements in the list:"))
print(comblistele(m))

Enter number of elements in the list:3
Enter number to add in list:11
Enter number to add in list:33
Enter number to add in list:50
113350

In [122]:
#8.question
def time_hours_sec(dy,hr,ms,se):
    dy*=24*60*60
    hr*=60*60
    ms*=60
    return dy+hr+ms+se
days=int(input("Enter number of days:"))
hours=int(input("Enter number of hours:"))
mins=int(input("Enter number of minutes:"))
secs=int(input("Enter number of seconds:"))
print('Total seconds:{}'.format(time_hours_sec(days,hours,mins,secs)))

Enter number of days:3
Enter number of hours:43
Enter number of minutes:56
Enter number of seconds:67
Total seconds:417427

In [123]:
#9.question
def sortdata(nums):
    nums=[numb1,numb2,numb3]
    maximum=max(nums)
    nums.remove(maximum)
    minimum=min(nums)
    nums.remove(minimum)
    newlist=[maximum,nums[0],minimum]
    return newlist
numb1=int(input("Enter 1st number in list:"))
numb2=int(input("Enter 2nd number in list:"))
numb3=int(input("Enter 3rd number in list:"))
numlist=[numb1,numb2,numb3]
sortedlist=sortdata(numlist)
print(sortedlist)

Enter 1st number in list:11
Enter 2nd number in list:29
Enter 3rd number in list:18
[29, 18, 11]

In [127]:
#10.question
def nextday(date,month,year):
    date+=1
    if month%2==1 and month<=7 and date ==32:
       month+=1
       date=1
    elif month%2==0 and month<7 and date==31:
       month+=1
       date=1
    elif month%2==0 and month>7 and date==32:
       month+=1
       date=1
    if month==13:
       month=1
       year+=1
    return '{:04d}'.format(year)+'-'+'{:02d}'.format(month)+'-'+'{:02d}'.format(date)
day=input("Enter date (format YY-MM-DD):")
year=int(day[0:4])
month=int(day[5:7])
date=int(day[-2:])
if month<=12 and month>=1 and date>=1 and date:
 print(nextday(date,month,year))
else:
 print('Invalid day input')

Enter date (format YY-MM-DD):2024-11-30
2024-11-31

In [125]:
#11.question
def product(numblist):
    product=1
    for i in numblist:
        product= product*i
    return product
numblist=[45,3,2,89,72,1,10,7]
print(product(numblist))

121111200

In [126]:
#12.question
def addlist(numblist):
   i=0
   updatedlist=[]
   while i < len(numblist)-1:
     updatedlist.append(numblist[i]+numblist[i+1])
     i+=1
   return updatedlist
numblist=[5,6,8,34,89,1]
print(addlist(numblist))

[11, 14, 42, 123, 90]

In [ ]:
#13.question
def multi(numbtuple):
    multi=1
    i=0
    newlist=[]
    while i<len(numbtuple):
      multi*=numbtuple[i]
      newlist.append(multi)
      i+=1
    return newlist
numbtuple=(5,6,8,3,9,1)
print(multi(numbtuple))

[5, 30, 240, 720, 6480, 6480]

In [ ]:
 #14.question
def intnlist(integer):
    initstr=str(integer)
    initlist=[]
    for i in range(0,len(initstr)):
      initlist.append(initstr[i])
      i+=1
    return initlist
numb=int(input("Enter the integer:"))
print(intnlist(numb))

Enter the integer:586392
['5', '8', '6', '3', '9', '2']

In [64]:
#15.question
string=input("Enter a string:")
list1=[]
list2=[]
index=0
for i in range(0,len(string)-1):
    for j in range(i+1,len(string)+1):
       if j-i>1:
          c=string[i:j]
          if (c==c[::-1]):
             list1.append(string[i:j]) 
             list2.append(len(string[i:j]))
maxmum=max(list2)
for i in list2:
    if i==maxmum:
       print(list1[index])
    else:
       index=index+1

Enter a string:heissos
sos

In [67]:
#16.question
def substring(str1,str2):
    str1len=len(str1)
    test=0
    for i in range(0,str1len):
      if str1[i:i+len(str2)]==str2:
        test=1
    return test
s=input("Enter a binary number s:")
s1=input("Enter another binary number s1:")
if substring(s,s1):
   print("s1 is a substring of s")
else:
   print("s1 is not a substring of s")

Enter a binary number s:1010110010
Enter another binary number s1:10110
s1 is a substring of s

In [99]:
#17.question
def checkout(a,b,c):
     v1=0
     v2=0
     i=0
     while True:
         if v1+v2!=c:
             if v1<a:
               v1+=1
         else:
             break
         if v1+v2!=c:
             if v2<b:
               v2+=1
         else:
             break
         i+=1 
     return i
ans_list=[]
ts=0
n=int(input("Enter number of test case:"))
while ts<n:
     a=int(input("Enter capacity of A vessel:"))
     b=int(input("Enter capacity of B vessel:"))
     c=int(input("Enter required liters of water:"))
     if a<c and b<c:
         ts+=1
         ans_list.append(-1)
     else:
         if a<b:
            ts+=1
            ans_list.append(checkout(a,b,c))
         else:
            ts+=1
            ans=checkout(a,b,c)
            ans=ans+1
            ans_list.append(ans)
c=1
for i in ans_list:
    print(f"For the test case{c} the output is{i}")
    c+=1

Enter number of test case:2
Enter capacity of A vessel:5
Enter capacity of B vessel:2
Enter required liters of water:3
Enter capacity of A vessel:2
Enter capacity of B vessel:3
Enter required liters of water:4
For the test case1 the output is2
For the test case2 the output is-1